<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de empleados</title>
</head>
<body>

    <form action="" method="get">
        {{form.as_p}}
        <input type="submit" value="Filtrar">
    </form>


    {%for empleado in lista_empleados%}
    <h1>{{empleado.nombre}}</h1>
    <p>{{empleado.apellido}}</p>
    <p>{{empleado.sueldo}}</p>
    <p>{{empleado.departamento.nombre}}</p>
    {%endfor%}
</body>
</html>